{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="mt-5">

    <h2>Formulário</h2>
    {% csrf_token %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome">Nome:</label>
            {{form.nome}}
        
        </div>

        <div class="form-group">
            <label for="nome">Sinopse:</label>
            {{form.sinopse}}
        
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Data de Lançamento:</label>
            {{form.data_lancamento}}
        
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Categoria:</label>
            {{form.categoria}}
        
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>      
{% endblock %}
